.form textarea {
  width: 75%;
  background-color: rgb(85, 95, 171);
  border-radius: 15px;
  padding: 60px 20px;
  box-sizing: border-box;
  margin-left: 13%;
  margin-top: 6%;
  border: none;
  color: white;
  font-size: 24px;
}
::placeholder {
  color: white;
  font: sans-serif;
  font-size: 24px;
}

.button button {
  border-color: transparent;
  font-size: large;
  color: white;
  border-radius: 15px;
  padding: 10px 30px;
  background-color: rgb(85, 95, 171);
  margin-left: 44%;
  margin-top: 2%;
}
.button button:hover {
  background-color: #1B1D37;
  cursor: pointer;
}
