#img1 {
    width: 90%;
    margin-left: 42%;
    margin-top: 2%;
    display: none;
    height: 200px;
    width: 200px;
}

#img2 {
    width: 20%;
    margin-left: 42%;
    margin-top: 2%;
    display: none;
    height: 200px;
    width: 200px;
}

#img3 {
    width: 20%;
    margin-left: 42%;
    margin-top: 2%;
    display: none;
    height: 200px;
    width: 200px;
}
